
<a class="btn btn-primary" href="/#/create/movie"><span class="glyphicon glyphicon-plus"></span> Write Your Story</a>
<br/>
<table class="table table-striped">
  <thead>
    <th>Title</th>
    <th>Access</th>
    <th>Text</th>
    <th>Inspiration</th>
    <th>Users</th>
    <th>times</th>
    <th>length</th>
    <th>Operations</th>
  </thead>
  <tbody>
    <tr ng-repeat="story in stories">
      <td><a ng-href="/#/story/{{ story._id }}">{{ story.title }}</a></td>
      <td>{{ story.access }}</td>
      <td>{{ story.text }}</td>
      <td>{{ story.inspiration }}</td>
      <td>{{ story.edit_user }}</td>
      <td>{{ story.edit_times }}</td>
      <td>{{ story.text_length }}</td>
      <td>
        <div class="button-group">
          <a ng-href="/#/story/{{ story._id }}/edit" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
          <a ng-href="/#/story/{{ story._id }}/delete" class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></a>
        </div>
      </td>
    </tr>
  </tbody>
</table>




<table class="table table-striped">
  <thead>
    <th>Title</th>
    <th>URL</th>
    <th>Operations</th>
  </thead>
  <tbody>
    <tr ng-repeat="movie in movies">
      <td><a ng-href="/#/movie/{{ movie._id }}">{{ movie.title }}</a></td>
      <td>{{ movie.url }}</td>

    </tr>
  </tbody>
</table>
